header {
  background: url(https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png);
  background-size: 85%;
  background-position: bottom center;
  height: 250px;
  margin-bottom: 70px;
  width: 1278px;
  margin: auto;
  margin-bottom: 75px;
  background-repeat: no-repeat;
}
.top {
  max-width: 600px;
  margin: auto;
}
.top p {
  font-weight: bold;
  font-size: 25px;
  position: relative;
  top: 125px;
}
h1 {
  font-size: 70px;
  position: relative;
  top: 70px;
}
main {
  font-family: 'Josefin Sans', sans serif;
  line-height: 1.6;
}
p {
  max-width: 620px;
  margin: auto;
  margin-bottom: 25px;
}
ul {
  max-width: 620px;
  margin: auto;
  margin-bottom: 50px;
}
blockquote {
  background-color: #3e3e3e;
  height: 150px;
  width: 700px;
  margin: auto;
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  position: relative;
}
blockquote p {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  color: white;
}
.quotation-mark {
  position: absolute;
  top: -25px;
  font-size: 120px;
}